body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 500px;
  height:150px;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.custom-tab-container-class .tabs-body{
  height:250px;
}